#map{
	height: 100%;
	width: 100%;	
}

.filterView{	
	background-color:rgba(255,255,255,0.5);	
	position: absolute;
	left: 0;
	margin-left: 0;
	margin-top: 0;
	width: 25%;
	height: 100%;
	
}

.title-controls{
	color: black;	
	opacity: 1;
	font-size: 50;
	x: 25%;
	y:10%;
}

#svg-list{
	width: 90%;
	height: 100%;
}

#rect-list{
	width: 97%;
	height: 70%;
	opacity: 0.9;
	fill:grey;
}

#svg-arrow-filterView.open{
	position: absolute;
}

#divArrowFilter{
	position: absolute;
	float:left;
	background-color: red;
	left: 25%;
	bottom: 0;
	width: 1%;
	height: 5%;
}
